<div class="content">
    <div class="container-fluid">

        <div id="dbpage-toolbar">
            <button type="button" class="btn btn-primary" id="dbpage-btn-add">
                <i class="fas fa-plus-circle mr-1" aria-hidden="true"></i>新增
            </button>
            <button id="dbpage-btn-batch-delete" type="button" class="btn btn-danger">
                <i class="fas fa-trash-alt mr-1" aria-hidden="true"></i>批量删除
            </button>
        </div>
        <table id="dbpage-list-table" class="table-striped">
            <thead class="table-success">
        </table>

        <div class="modal fade" id="edit-dbpage-modal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="open-edit-dbpage-modal">
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
<script>
    var columns = [
        {checkbox: true},
        {
            field: 'id',
            title: '编号',
            align: "center"
        }, {
            field: 'dbName',
            title: '数据库名称',
            align: "center"
        }, {
            field: 'tabName',
            title: '表名',
            align: "center",
        }, {
            field: 'lastUpdate',
            title: '最后修改时间',
            align: "left",
            formatter: function (value, row, index) {
                return  FormCore.longMsTimeConvertToDateTime(value)
            }
        }, {
            field: 'cnt',
            title: '数量',
            align: "left",
        }, {
            field: 'createTime',
            title: '创建日期',
            align: "right",
        }, {
            field: 'rmb',
            title: '价值',
            align: "left",
        }, {
            field: 'sumSize',
            title: '合计',
            align: "left"
        }];

    var optis = {
        id: "#dbpage-list-table",
        toolbar: '#dbpage-toolbar',
        url: "/dbpage/page",
        columns: columns,
        method: 'get',
        queryParams: queryParams
    };
    FormCore.initTable(optis);

    /*查询用户参数*/
    function queryParams(params) {
        var temp = { //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
            limit: params.limit, //页面大小
            offset: params.offset, //页码
        };
        return temp;
    }

    $("#dbpage-list-table").on("dbl-click-row.bs.table", function (e, row) {
        $("#open-edit-dbpage-modal").load("/dbpage/getById?id=" + row.id, function () {
            $("#edit-dbpage-modal").modal();
        });
    });

    $("#dbpage-btn-add").on("click", function () {
        $("#open-edit-dbpage-modal").load("/dbpage/getById?id=0", function () {
            $("#edit-dbpage-modal").modal();
            $("#edit-dbpage-input-id").attr("readOnly", false);
            $("#dbpage-caption").text("新增字典");
        });
    });

    /*批量删除*/
    $("#dict-btn-batch-delete").click(function () {
        var checkedRows = FormCore.selectMutiData("#dict-list-table");
        if (checkedRows) {
            Utils.confirm("确定删除选中的" + checkedRows.length + "条记录？", function () {
                dictIdStr = "";
                $.each(checkedRows, function (i, item) {
                    dictIdStr += (item.id + ",");
                });
                dictIdStr = dictIdStr.substring(0, dictIdStr.length - 1);
                FormCore.postAjax("/dictionary/batch/delete", {"dictIdStr": dictIdStr}, function (data) {
                    if (data.status == 200) {
                        FormCore.refreshTable("#dict-list-table");
                        Utils.showMessage(data.msg);
                    }
                }, "get")
            })
        }
    });
</script>