<div class="content">
    <div class="container-fluid">

        <div id="dict-toolbar">
            <button type="button" class="btn btn-primary" id="dict-btn-add">
                <i class="fas fa-plus-circle mr-1" aria-hidden="true"></i>新增
            </button>
            <button id="dict-btn-batch-delete" type="button" class="btn btn-danger">
                <i class="fas fa-trash-alt mr-1" aria-hidden="true"></i>批量删除
            </button>
        </div>
        <table id="dict-list-table" class="table-striped">
            <thead class="table-success">
        </table>

        <div class="modal fade" id="edit-dict-modal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="open-edit-dict-modal">
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
<script>
    var columns = [
        {checkbox: true},
        {
            field: 'id',
            title: '编号',
            align: "center"
        }, {
            field: 'caption',
            title: '标题',
            align: "center"
        }, {
            field: 'category',
            title: '分类',
            align: "center",
        }, {
            field: 'value',
            title: '数值',
            align: "center",
        }, {
            field: 'description',
            title: '简介',
            align: "left",
        }];

    var optis = {
        id: "#dict-list-table",
        toolbar: '#dict-toolbar',
        url: "/dictionary/list",
        columns: columns,
        sidePagination: "client",
        method: 'get'
    };
    FormCore.initTable(optis);

    $("#dict-list-table").on("dbl-click-row.bs.table", function (e, row) {
        $("#open-edit-dict-modal").load("/dictionary/getById?id=" + row.id, function () {
            $("#edit-dict-modal").modal();
        });
    });

    $("#dict-btn-add").on("click", function () {
        $("#open-edit-dict-modal").load("/dictionary/getById?id=0", function () {
            $("#edit-dict-modal").modal();
            $("#edit-dict-input-id").attr("readOnly", false);
            $("#dict-caption").text("新增字典");
        });
    });

    /*批量删除*/
    $("#dict-btn-batch-delete").click(function () {
        var checkedRows = FormCore.selectMutiData("#dict-list-table");
        if (checkedRows) {
            Utils.confirm("确定删除选中的" + checkedRows.length + "条记录？", function () {
                dictIdStr = "";
                $.each(checkedRows, function (i, item) {
                    dictIdStr += (item.id + ",");
                });
                dictIdStr = dictIdStr.substring(0, dictIdStr.length - 1);
                FormCore.postAjax("/dictionary/batch/delete", {"dictIdStr": dictIdStr}, function (data) {
                    if (data.status == 200) {
                        FormCore.refreshTable("#dict-list-table");
                        Utils.showMessage(data.msg);
                    }
                }, "get")
            })
        }
    });
</script>