<div class="content">
    <div class="container-fluid">

        <div id="dict_toolbar">
            <button id="dict_btn_add" type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#dictionaryDetail">
                <span class="fas fa-inbox" aria-hidden="true"></span>新增
            </button>
            <button id="dict_btn_batch_delete" type="button" class="btn btn-danger">
                <span class="fas fa-remove" aria-hidden="true"></span>批量删除
            </button>
        </div>
        <table id="dict_list">

        </table>

        <!--        <div id="openDictionaryDetail">-->
        <div class="modal fade" id="dictionaryDetail" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" id="openDictWindow">
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
<script>
    var columns = [
        {checkbox: true},
        {
            field: 'id',
            title: '编号',
            align: "center"
        }, {
            field: 'caption',
            title: '标题',
            align: "center"
        }, {
            field: 'category',
            title: '分类',
            align: "center",
        }, {
            field: 'value',
            title: '用户状态',
            align: "center",
        }, {
            field: 'description',
            title: '简介',
            align: "left",
        }];

    var optis = {
        id: "#dict_list",
        toolbar: '#dict_toolbar',
        url: "/dictionary/list",
        columns: columns,
        method: 'get'
    };
    FormCore.initTable(optis);

    $("#dict_list").on("dbl-click-row.bs.table", function (e, row) {
        $("#openDictWindow").load("/dictionary/getOne?id="+row.id);
        $("#dictionaryDetail").modal();
    })
</script>