<div class="content">
    <div class="container-fluid">

        <div id="toolbar">
            <button id="btn_add" type="button" class="btn btn-primary" data-toggle="modal" data-target="#userModal">
                <span class="fas fa-inbox" aria-hidden="true"></span>新增
            </button>
            <button id="btn_batch_delete" type="button" class="btn btn-danger">
                <span class="fas fa-remove" aria-hidden="true"></span>批量删除
            </button>
            <button id="btn-toast" type="button" class="btn btn-danger">
                <span class="fas fa-remove" aria-hidden="true"></span>试验
            </button>
        </div>
        <table id="realTime_Table" data-click-to-select="true" class="table table-bordered table-hover table-striped"
               data-page-size="20"
               data-url="/permission/list">
            <thead class="table-success">
            <tr>
                <th data-checkbox="true"></th>
                <th data-sortable="true" data-field="id">编号</th>
                <th data-sortable="true" data-field="name">标题</th>
                <th data-sortable="true" data-field="url" data-align="center">链接</th>
                <th data-sortable="true" data-field="description">简述</th>
                <th data-sortable="true" data-field="perms">权限</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div><!-- /.container-fluid -->
</div>
<script>
    $("#realTime_Table").bootstrapTable({
        toolbar: '#toolbar',
        search: false,
        pagination: true,
        pageSize: 15,
        pageList: [5, 10, 15, 20],
        showColumns: true,
        showRefresh: true,
        showToggle: true,
        locale: "zh-CN",
        striped: true,
        onDblClickRow: function (row) {
            alert("click:" + row.id)
        }
    });
    $("#btn-toast").on("click", function () {
        // alert("sdf")
        $("#ts-toast").toast("show")
        // Utils.showMessage("保存成功！",{shift:0});
        // layer.msg("保存成功", {
        //         title: "系统信息",
        //         time: 3000,
        //         icon: 1,
        //         shift: 5,
        //         skin: 'layui-layer-lan'
        //     },
        //
        //     function () {
        //     }
        // )
        // layer.msg("a;lsdgj;las'gj",{time:2000,kin:'layui-layer-lan',btnclass: ['btn btn-primary', 'btn btn-danger'],});
        // layer.open({
        //     content: 'test',
        //     time:3000,//content可以是字符串，可以是DOM，也可以是一个URL
        //     // skin:'layui-layer-lan',
        // btnclass: ['btn btn-primary', 'btn btn-danger']
        //     , btn: ['按钮一', '按钮二']
        //     , yes: function (index, layero) {
        //         //按钮【按钮一】的回调
        //     }
        //     , btn2: function (index, layero) {
        //         //按钮【按钮二】的回调
        //
        //         return false //开启该代码可禁止点击该按钮关闭
        //     }
        //     // , btn3: function (index, layero) {
        //     //     //按钮【按钮三】的回调
        //     //
        //     //     //return false 开启该代码可禁止点击该按钮关闭
        //     // }
        //     , cancel: function () {
        //         //右上角关闭回调
        //
        //         //return false 开启该代码可禁止点击该按钮关闭
        //     }
        // })
    })
</script>